@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* home page start  */

.home {
  position: relative;
  top: 2px;
}

/* home page ends  */

/* review page starts */

.clents {
  padding: 4px 0;
  background: #a1a9a9;
  color: #434343;
  text-align: center;
  box-shadow: inset 2px 2px 4px white;
}

.client_heading {
  position: relative;
  left: 40%;
  text-shadow: 2px 2px 2px black;
}

.client_bxs {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 15px 8px;
}

.client_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client_col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;

}

.clientsss {
  background: rgba(0, 0, 0, .8);
  color: white;
  padding: 30px;
}

.client_col .clientsss img {
  position: relative;
  left: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.client_name {
  position: relative;
  left: 100px;
  font-size: 26px;
  color: black;
  text-shadow: 1px 1px 4px white;
  font-weight: 600px;
  margin: 20px 0;

}

.clients_star {
  color: #FFA41C;
  margin-bottom: 18px;
}


@media screen and (max-width:960px) {
  .c_row {
    flex: 80%;
    max-width: 79%;
  }
}

@media screen and (max-width:600px) {
  .c_row {
    flex: 100%;
    max-width: 100%;
  }
}

/* review page ends */

/* logo start */
.logo {
  margin-left: 150px;
}

/* header start */
header {
  background-color: #26272b;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.search-form form input[type="search"] {
  width: 500px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

.search-form form button {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  width: 25px;
}

.btn-login {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}

.btn-signup {
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}

.user {
  margin-right: 50px;
}

/* header end */

.phone-action {
  color: white;
}

/* start of nav css */
nav .navbar-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #3e3e40;
}

.nav-item {
  list-style: none;
  padding-left: 18px;
  margin: right;
}

.nav-link {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
}


/* end of nav css */

/* start of carousel css */
#carouselExampleCaptions {
  margin-top: -1rem !important;
}

.carousel img {
  height: 500px;
  object-fit: fill;
}

.cardd img:hover {
  height: 200px;
}

@media screen and (max-width:760px) {
  .carousel img {
    height: 250px;
  }
}

/* end of carousel css */


/* Start of Footer */

footer {
  background-color: darkcyan;
  color: #ffff;
  padding: 20px;
}

footer p {
  text-align: justify;
  padding: 10px;
  text-align: center;
}

footer h1 {
  text-align: center;
  line-height: 25px;
}

.social-media {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-icon a {
  color: #ffff;
  font-size: 80px;
  padding: 20px;
  text-decoration: none;
}

.para {
  position: relative;
  right: 80px;
  word-wrap: break-word;
}

/* end of footer */

/* start of contact  */
.contact_us {
  position: relative;
  top: 14px;
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}

.contacts {
  background-color: #C9DDE4;
}

.contact_btn {
  width: 150px;
  position: relative;
  left: 100px;
  background-color: orange;
  color: white;
}

.left_icons {
  position: relative;
  top: 100px;
  left: 5%;
}

.contact_btn:hover {
  background-color: aqua;
  color: black;
}

.formm {
  position: relative;
  top: 50px;
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
}

.pgrph {
  color: grey;
}

.iframes {
  position: relative;
  width: 100%;
  height: 500px;
}

.iframes iframe {
  position: relative;
  left: 2%;
  height: 90%;
  width: 95%;
}

/* end of contact  */

/* features page starts  */
.feature_section {
  margin-bottom: 50px;
}

.frow {
  display: flex;
  flex-wrap: wrap;
}

.frow h1 {
  width: 100%;
  text-align: center;
  font-size: 2.9em;
  font-weight: 600;
  color: #070024;
  margin-bottom: 50px;
}

.fcolumn {
  padding: 1em;
}

.fcard {
  text-align: center;
  box-shadow: 1px 1px 2em rgba(0, 0, 0, .8);
  border-radius: 0.5em;
  margin-top: 27px;
}

.fcard:hover {
  background-position: 0;
}

.fcard .ficon {
  font-size: 1.6em;
  height: 2em;
  width: 2em;
  margin: auto;
  background: black;
  display: grid;
  color: white;
  place-items: center;
  border-radius: 50%;
}

.amenities {
  position: relative;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 2px black;
}



.fcard h2 {
  font-size: 2.5em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: .4px;
}



.fcard p {
  line-height: 2em;
  color: #625171;
}

@media screen and (min-width:768px) {
  .fsection {
    padding: 1em 7em;
  }
}

@media screen and (min-width:992px) {
  .fsection {
    padding: 1em;
  }

  .fcard {
    padding: 5em 2em;
  }

  .fcolumn {
    flex: 0 0 32.32%;
    max-width: 32.32;
    padding: 0 1em;
  }
}

/* features page ends  */


/* local attraction start  */

.local_att_container {
  position: relative;
  left: 2%;
  width: 1200px;
}

.line {
  position: relative;
  height: 2px;
  width: 350px;
  background: black;
  left: 568px;
}

.btnn {
  background-color: orange;
  color: black;
}

.cards {
  margin: 4px;
  box-shadow: 4px 4px 4px 4px rgba(225, 225, 225, .6);
}

/* scenic view  */

.attraction_box {
  display: flex;
  /* width: 90%; */
  justify-content: space-evenly;
  margin: 35px 0 10px;
}

.attraction_card {
  width: 23%;
  height: 300px;
  padding: 2rem 2rem;
  background: #ffffff;
  position: relative;
  display: flex;
  box-shadow: 0 7px 9px rgba(225, 225, 225, .91);
}

.attraction_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 2;
  opacity: 0;
}

.attraction_card:hover:before {
  opacity: 1;
}

.attraction_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.la_info {
  position: relative;
  margin-bottom: 60px;
  margin-left: 49px;
  z-index: 2;
  color: #fff;
  opacity: 0;
  transform: translateY(29px);
  transition: .2s all;
}

.attraction_card:hover .la_info {
  opacity: 1;
  transform: translateY(6px);
}

.la_senic_views {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.laaa_senic_views .la_card {
  height: 200px;
  width: 200px;
  background: #000000;
}

.attraction_scenic {
  position: relative;
  left: 45%;
  top: 32px;
  width: 200px;
  color: #123456;
  font-size: 29px;
  text-shadow: 1px 1px 2px #000000;
}


/* local attraction end  */

/* login start */

.loginBx {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #baba12;
  background-image: url(../images/tents-camping-site-kilimanjaro-mountain.jpg);
  background-position: center;
  background-size: cover;
  top: -20px;
}

.registerBx {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #baba12;
  background-image: url(../images/covering-tent.jpg);
  background-position: center;
  background-size: cover;
  top: -20px;
}

.lcontainer {
  position: relative;
  width: 300px;
  position: relative;
  border-radius: 5px;
  left: 39%;
  margin-top: -560px;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #0e0e0e;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.lcontainer .lslider {
  width: 200%;
  position: relative;
  transition: transform ease-out 0.3s;
  display: flex;
}

#lregister_toggle {
  display: none;
}

.lcontainer #lregister_toggle:checked+.lslider {
  transform: translateX(-50%);
}

.lform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 1.5em 3em;
  width: 50%;
}

.ltitle {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  color: rgba(225, 225, 225, .8);
}

form .lform_control {
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .lform_control .llabel {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: transform ease 0.2s;
  transform: translate(0%, -50%);
  font-size: 0.75em;
  user-select: none;
  pointer-events: none;
  color: #b0b0b0;
}

form .lform_control .linput {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

form .lform_control .linput:focus,
form .lform_control .linput:valid {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .lform_control .linput:focus+.llabel,
form .lform_control .linput:valid+.llabel {
  transform: translate(-150%, -50%);
}

form button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

form button:active {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.lbottom_text {
  font-size: 0.65em;
  color: rgba(225, 225, 225, .8);
}

.lbottom_text .lswtich {
  font-weight: 700;
  cursor: pointer;
}

/* login end */

/* pitch types starts */

.pitch_container {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pitch_cards {
  width: 35%;
  border-radius: 14px;
  box-shadow: 1px 1px 6px black;
  margin: 10px 0;
  padding: 20px;
  transform: skewY(2deg);
}
.pitch_cards_details {
  width:60%;
  border-radius: 14px;
  box-shadow: 1px 1px 6px black;
  margin: 10px 0;
  padding: 20px;
  transform: skewX(1deg);
  text-align: center;
}
.pitch_cards_details img{
  width:100%;
  height:250px;
  object-fit: cover;
}

.pitch_cards .pitch_heading {
  text-shadow: 1px 1px 2px black;

}

.pitch_text {
  color: black;
}

.pitch_cards img {
  height: 100%;
  width: 100%;
}



/* information page starts  */
.information_section {
  margin-bottom: 50px;
}

.information_row {
  display: flex;
  flex-wrap: wrap;
}

.information_row h1 {
  width: 100%;
  text-align: center;
  font-size: 2.9em;
  font-weight: 600;
  color: #070024;
  margin-bottom: 50px;
}

.information_column {
  padding: 1em;
}

.information_card {
  text-align: center;
  box-shadow: 1px 1px 2em rgba(0, 0, 0, .8);
  border-radius: 0.5em;
  margin-top: 27px;
}

.information_card:hover {
  background-position: 0;
}

.information_card .ficon {
  font-size: 1.6em;
  height: 2em;
  width: 2em;
  margin: auto;
  background: black;
  display: grid;
  color: white;
  place-items: center;
  border-radius: 50%;
}

.amenities {
  position: relative;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 2px black;
}



.information_card h2 {
  font-size: 2.5em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: .4px;
}



.information_card p {
  line-height: 2em;
  color: #625171;
}

@media screen and (min-width:768px) {
  .information_section {
    padding: 1em 7em;
  }
}

@media screen and (min-width:992px) {
  .information_section {
    padding: 1em;
  }

  .information_card {
    padding: 5em 2em;
  }

  .information_column {
    flex: 0 0 32.32%;
    max-width: 32.32;
    padding: 0 1em;
  }
}

/* information page ends  */